TABLE {
    border: 3px solid #000;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}
TD, TH {
    padding: 5px;
    border: 1px solid #000;
}

.MenuWrap{
    background-color: #eee;
    color: #383838;
    font-size: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 10px;

}

.ListItem{
    color: #383838;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2%;
}
